<!DOCTYPE html>
<html>

<head>
    <% include ../includes/header.ejs %>
</head>

<body>
    <% include ../includes/nav.ejs %>
    <div class="container">
        <h1><%=pageTitle%></h1>
        <div class="prove03-view">
            <section>
                <img src="<%=product.imageUrl%>" alt="<%=product.title%>">
                <div>
                    <h2><%=product.title%></h2>
                    <h3>Price: $<%=product.price%></h3>
                    <h4>Stock: <%=product.stock%></h4>
                    <p>Description: <%=product.description%></p>
                </div>
                <% if (isAuthenticated) { %>
                <form action="/shop/cart" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button class="btn btn-primary" type="submit">Add to Cart</button>
                    <input type="hidden" name="productId" value="<%= product._id %>">
                </form>
            <% }%>
            </section>
        </div>
    </div>

</body>

</html>